# Python for Psychologists - Session 1
## Introduction to data types and lists

### Handling the Jupyter Notebook

Jupyter Notebooks will serve us as our primary Python editor during most of our sessions. Notebooks are run by the web browser, however there is no need to be connected to the internet. The web browser is simply the application that reads the .ipynb files. 

Notebooks consist of cells which can be filled with text. There are two types of cells:
- code cells
- markdown cells

The text that is written into code cells will be interpreted as code and, hence, executed. The text that is written into markdown cells will be interpreted as markdown text (for more information on the markdown markup language see [here](https://en.wikipedia.org/wiki/Markdown) or [here](https://guides.github.com/features/mastering-markdown/)).

The easiest way to work inside a jupyter notebook is to use shortcuts. As you can see, there is also a drop-down menu, but it is really much easier to just use the keyboard. In order to execute a cell, mark it and press "shift" and "enter". A non-editable output line will appear below the cell. Just try it!

In [43]:
"bla"

'bla'

In order to create a new cell above the currently marked cell press "Esc" and "a" (for **a**bove). If you need a cell below the currently marked cell, press "Esc" and "b" (for **b**elow). If you would like to delete a cell, press "Esc" and "x". Try to create a cell below this cell.

If you want to change the mode of a cell from "code" to markdown, mark the cell and press "Esc" and "m" (for **m**arkdown). If you want to change the mode of a cell from "markdown" to "code" press "Esc" and "y" (as in "**y** the hell is it 'y' and not 'c'?!?"). Try to change the mode of this very cell to code and back to markdown again.

### Data types
Data types refer to the kind of content an object like a variable contains. 

The following data types can be distinguished:
- integers (e.g., 1, 56, 265, -5, -1194)
- floating-point numbers (e.g., 1.0, 56.0, 265.9, -5.62, -1194.7275135)
- strings (e.g., "hello!", "Strings start and end with quotation marks!")
- Boolean (True, False)
 
If we are not sure, what kind of data type an object contains, we can use the `type()` command.

#### Integers

To give a quick definition: integers are natural numbers, however they include not only the positive but also the negative number range. So integers could be numbers like: 1, -327, 46, 9, 1000, -9947

Let's do some easy calculations! Also try the `type()` function on an integer.

In [45]:
3*5

15

In [46]:
15-3453

-3438

In [47]:
19+498

517

In [48]:
type(3)

int

#### Floating-point numbers

Simple definition: all kinds of numbers that include a dot. Again, let's do some calculations and check the type.

In [13]:
4.235/0.251

16.872509960159363

In [15]:
1.3*9

11.700000000000001

In [16]:
type(0.56382)

float

#### Strings

Strings are basically text elements, from letters to words to sentences. In order to define a string, Python needs quotation marks. You can coose between `"` and `'` as both will work usually.

Interestingly, in Python we can still do some math with strings. Well, not in the conventional way, but see for yourself...

In [49]:
type("Susi")

str

In [18]:
"Susi" + " isst " + "Kuchen."

'Susi isst Kuchen.'

In [20]:
"Er lebe " + 3*"hoch " + "!"

'Er lebe hoch hoch hoch !'

#### Boolean

While there are many many many possible strings and numbers, a Boolean can only have one of two values: True and False. That is, a Boolean says something about whether something is the case or not. It's easier to understand with some examples:

In [25]:
type(True)

bool

With Booleans we can check if something is true or not. We can check our assumption about all kinds of data types.

Try to check an assumption with...

... integers!

In [33]:
3 == 3

True

... strings!

In [32]:
"Susi" == "Kuchen"

False

... floats!

In [33]:
3.3 > 1.2

True

... Booleans!

In [36]:
True == False

False

Interestingly, `True` and `False` also have numeric values! `True` has a value of `1` and `False` has a value of `0`. 
Try to do some math with Booleans!

In [34]:
True + True

2

In [36]:
False * True

0

#### Converting types

In [73]:
str(3)

'3'

In [74]:
int("4")

4

In [78]:
bool(0)

False

In [79]:
float("4.2")

4.2

In [80]:
float(16)

16.0

### Defining Variables

In order to make our lives easier we usually store content in simple variables. Variables are defined by `=`. That is why when we compared two contents in the "Boolean" section we used `==` rather than `=`, simply because they refer to two different things. 
  
Create a variable that contains a string.

In [7]:
a = "Susi"

In order to see the content of a variable, we can simply evaluate it.

In [8]:
a

'Susi'

Variables can be overwritten. Try to give your variable a new string content and evaluate the variable afterwards.

In [9]:
a = "Norbert"

In [10]:
a

'Norbert'

Now create a second variable that contains a different string.

In [12]:
b = "Susi"

Now try to add the two variables together.

In [13]:
a + b

'NorbertSusi'

Now add some additional strings in between and try to form a (more or less) sensible sentence.

In [14]:
a + " sieht " + b + " im Zoo."

'Norbert sieht Susi im Zoo.'

Create two different variables that contain either integers or floats and multiply the two variables. Use only one cell.

In [37]:
c = 3
d = 4
c*d

12

### Data structures

Data structures refer to the format in which we would like to save our content of interest (aka data). All of these are ways to store information:
- lists
- tuples
- dictionaries
- sets
- data frames
- arrays

In this first session we will concentrate on **lists** only.

#### Lists
Lists are collections of pieces of content. Lists can contain any kind of data. They are created by "[ ]". For example like this:

shopping_list = ["Bananen", "Eier", "Tofu"]

Let's create a list of the participants of this session. Then, check what `type()` the created variable contains.

In [19]:
my_list = ["Hans", "Anna", "Leah", "Stefan"]

In [29]:
type(my_list)

list

Let's look at how long the list is (i.e., how many participants there are). Use the command `len()`.

In [17]:
len(my_list)

4

In order to access the n<sup>th</sup> element of a list we can use *indexing* as follows: 
`list[n-1]`

You might be wondering why we use n-1 instead of n for indexing the n<sup>th</sup> position. The reason is that Python starts counting at 0, not at 1! That is, the first element in a list is indexed by `list[0]`.

Try to fetch the 3rd element of our list.

In [21]:
my_list[2]

'Leah'

We can also use *slicing* to fetch a whole bunch of consecutive elements. In order to fetch all elements between the n<sup>th</sup> and the m<sup>th</sup> position write:

`list[n-1:(m+1)]`

Try and fetch the 2<sup>rd</sup> to 4<sup>th</sup> element of the list.

In [22]:
my_list[1:5]

['Anna', 'Leah', 'Stefan']

We can also use "open-ended" slicing. For example, in order to fetch all elements starting from the 3rd element we write `list[2:]`.

Try to fetch all elements starting from the 2nd element in our list.

In [38]:
my_list[1:]

[1, 'Leah', 'Stefan']

If you are interested in every element before the n<sup>th</sup> element (excluding the n<sup>th</sup> element itself) we can write `list[:n]`.

In [41]:
my_list[:2]

['Hans', 1]

Moreover, we can access the next to last element by using the index `-2`. Careful! When indexing starts at the other end of the list using "-", Python doesn't start counting from 0.

In [27]:
my_list[-2]

'Leah'

We can easily replace an element by someting else, if we want. Replace the second element of our list by your favourite integer. Take a look at the list again.

In [50]:
my_list[1] = "replaced"

In [51]:
my_list

['Hans', 'replaced', 'Leah', 'Stefan']

Something rather Python-specific is that strings can be very easily indexed, just like a list! If we want to fetch the second letter in the string `"string"` we'll write `"string[1]"`.

Come up with a random string and try to fetch one single letter.

In [23]:
"Susi"[1] # apparently strings can be handled like lists!

'u'

As with lists, we can ask Python to give us the length of a certain string by using the `len()` command.

In [42]:
len("Susi")

4

Oooops, someone was late for our Python class and just entered the room. Looks like we have to update our list. Easy-peasy! We can add elements to a list with the following syntax:

`list.append(element_to_be_added)`

Let's try this and add the name "Horst" to our list. Let's look at the list afterwards to see if this had the effect we wanted.

In [57]:
my_list.append("Horst")
my_list

['Hans',
 'replaced',
 'Leah',
 'Stefan',
 'Horst',
 'Horst',
 'Horst',
 'Horst',
 'Horst',
 'Horst']