# Python for Psychologists - Session 3
## Homework assignment

**Exercise 1**.

Below there is a list with duplicate values. Create a list that contains only the unqiue values, that is, a list without any of the values being duplicated. Do so without simply creating a new list and typing in the numbers manually ;)

In [5]:
duplicate_list = [1,1,4,7,3,5,6,4,4,9,11,0,11]

**Exercise 2**. 

Try to create a pd.Dataframe using a dictionary and set the index to some random safari visitors

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([23,45,75,81,45,11], name="otter")

s2 = pd.Series([51,94,12,23,91,10], name="sloth")

s3 = pd.Series([13,56,44,20,51,60], name="monkey")

**Exercise 3.**

Try to select the 5 and 6th row in our dataframe using ```i.loc``` and explicitly state, that you want to select all columns!

**Exercise 4**.

Add a new column "last_name" @ the first position of your dataframe, using a single line of code! 

Use this list for the new column:

In [17]:
last_name = ["Mayer", "Baecker", "Ochsmann", "Friedrich", "Stark", "Kraemer"]

## Optional exercises

**Exercise 5**.

Use ```dataframe.loc```to select all visitors based on the two conditional statements listed below and save it to a new dataframe and check whether it worked correctly:
- last name ends with "er"
- has seen at least 23 otters

You might need to google for the first bullet point :)